.canvas{
    height: 100vh;
    width:  100vw;
    display: flex;

}
body{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-self: center;
    
}
body{ 
    background-image: url("bg/Untitled.png");
    background-repeat: repeat;
    background-size: 10%;
}